<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-200 font-mono">
    <div class="container mx-auto min-h-screen">
        <section>
            {{ content }}
        </section>
    </div>
</body>

</html>